<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
  <form class="row" (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="card-container">
      <div class="row">
        <div class="col">
          <div class="card-container">

            <div class="card-line">
              <div class="icon-container">
                <img src="assets/visa.png">
                <img src="assets/master.png">
                <img src="assets/maestro.png">
              </div>
            </div>

            <div class="card-line">
              <input 
                type="text" 
                id="cardnumber" 
                placeholder="Номер карты" 
                pattern="^\d{16}$"
                ngModel
                name="cardname"
                required>
            </div>

            <div class="card-line">
              <div class="expdate_and_CVC">
                <input 
                  type="text" 
                  id="expdate" 
                  placeholder="ММ/ГГ"
                  pattern="^((0[1-9])|(1[0-2]))/((1[7-9])|(2[0-9])|(3[0-5]))$"
                  ngModel
                  name="expdate"
                  required>
                <input 
                  type="text" 
                  id="CVC" 
                  placeholder="CVC" 
                  pattern="^\d{3}$"
                  ngModel
                  name="CVC"
                  required>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col">
          <div class="order-data">

            <div class="order-line">
              <label for="_sum">Сумма</label>
              <input 
                type="text"
                id="_sum" 
                placeholder="от 1000 до 75000"
                pattern="(^[1-6]\d{4}$)|(^7[0-4]\d{3}$)|(^[1-9]\d{3}$)|(^75000$)"
                ngModel
                name="sum"
                required>
            </div>

            <div class="order-line">
              <label for="_comment">Комментарий</label>
              <input 
                type="text" 
                id="_comment" 
                placeholder="До 150 символов" 
                pattern="^(?!.*<script)(.{0,150})$"
                ngModel
                name="_comment">
            </div>

            <div class="order-line">
              <label for="user-e-mail">Ваша эл.почта</label>
              <input 
                type="email" 
                id="user-e-mail" 
                placeholder="Для квитанций об оплате"
                ngModel
                name="user-e-mail"
                email
                required>
            </div>
            
            <button
              class="order-linel"
              type="submit"
              [disabled]="!f.valid">Заплатить</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <!-- <script src="https://www.gstatic.com/firebasejs/5.8.1/firebase.js"></script> -->
</body>
