<h1>О компании {{companyName}} </h1>

<div class="gallery">
  <div class="photo">
    <div class="wrapper">
      <img src="{{ companyFirstPhoto }}" alt="Озеро">
    </div>
    <div class="info">
      <h2 title="travelling">Озеро</h2>
      <span>{{ firstPhotoPrice }} руб.</span>
    </div>
  </div>

  <div class="photo">
    <div class="wrapper">
      <img src="{{ companySecondPhoto }}" alt="Поле">
    </div>
    <div class="info">
      <h2 title="travelling">Поля</h2>
      <span>{{ secondPhotoPrice }} руб.</span>
    </div>
  </div>

  <div class="photo">
    <div class="wrapper">
      <img src="{{ companyThirdPhoto }}" alt="Дорога">
    </div>
    <div class="info">
      <h2 title="travelling">Дорога</h2>
      <span>{{ thirdPhotoPrice }} руб.</span>
    </div>
  </div>
</div>

<div class="inf-wrapper">
  <input id="checkbox" type="checkbox" class="btn">
  <div class="interesting-inf">
      {{ interestingInfo }}
  </div>
  <label for="checkbox" >
      <div id = "show">Показать больше</div>
  </label>
</div>

<div class="social">
  <a href="#" id="twitter"></a>
  <a href="#" id="fb"></a>
  <a href="#" id="vk"></a>
  <a href="#" id="whatsapp"></a>
  <a href="#" id="linkedin"></a>
  <a href="#" id="instagram"></a>
</div>