* {
    color: #284046;
    font-family: Verdana, sans-serif;
}

main {
    padding: 0.2em;
}

p {
    color: grey;
    padding: 1%;
    margin: 1% 3% 1% 3%;
}

#inn[disabled]{
    background: transparent;
}

.lab{
    width: 50%;
}

.right {
    float: right;
}

.flex {
    padding-left: 20%;
    padding-right: 20%;
}
.column {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    width: 100%;
    border-radius: 2.5%;
}


.lab {
    border: 0.5px lightgrey;
    border-bottom-style: solid;
}

.NDS {
    background: transparent;
    border: none;
    color: grey;
}

.NDS:checked {
    color: black;
}

#subm {
    font-size: 15px;
    color: #284046;
    /* background: transparent; */
    border-style: solid;
    margin-top: 2%;
    width: 200px;
    margin-left: 3%;
}

/* Переместить влево */
#clear {
    padding-top: 10px ;
    background: transparent;
    border: none;
    color: #284046;
    /* float: left; */
    /* text-align: left; */
    width: 150px;
    margin: 1% 0 1% 3%;

}
