<main class="flex">
    <form class="column">
        <p>
            <label class="type">ИНН получателя
                <input class="right lab" type="text" placeholder = "ИНН или название получателя" name="inn" pattern="\d{12}|\d{10}">
            </label>
        </p>
        <p> 
            <label class="type">БИК
                <input class="right lab" type="text" name="bik" pattern="\d{9}">
            </label>
        </p>
        <p>
            <label class="type">Номер счета
                <input class="right lab" type="text" name="accountnumber" pattern="\d{20}">
            </label>
        </p>
        <!-- <p class="right" id = "smalltxt">Назначение платежа</p> -->
        <p>
          <label class="type">За что
              <input id = "inn" class="right lab" type="text" placeholder="Назначение платежа" name="inn" value="{{ NDSvalue }}"  disabled>
          </label>
        </p>
        <p>
          <button 
          type="button"
          class="right NDS" (click) = "onClickValue('Без НДС')" > Без НДС</button>
          <button 
          type="button"
          class="right NDS" (click) = "onClickValue('НДС 10%')" > НДС 10%</button>
          <button 
          type="button"
          class="right NDS" (click) = "onClickValue('НДС 18%')" > НДС 18%</button>
        </p>
        <p>
            <label class="type">Сколько
                <input class="right lab" type="text" name="howmuch" pattern="(^[1-6]\d{4}$)|(^7[0-4]\d{3}$)|(^[1-9]\d{3}$)|(^75000$)">
            </label>
        </p>
          <p>
              <label class="type">Номер телефона
                  <input class="right lab" type="text" name="howmuch" pattern="^\+\d{1,3}\s\d{3}\s\d{3}(-\d{2}){2}$">
              </label>
          </p>
          <p>
              <label class="type">Эл. почта
                  <input class="right lab" type="email" name="phonenumber">
              </label>
          </p>
     <div class="subm"><input type="submit" id = "subm" value="Создать платеж"></div>
    <!--<button-->
        <!--class="subm"-->
        <!--type="button"-->
        <!--(click)="onSubmit()">Создать платеж</button>-->
    <button type="button" id ="clear" (click) = "clearForm()">Очистить форму</button>
    </form>
</main>
