main {
    padding: 0.2em;
}
p {
    color: grey;
    /* font-size: 20px; */
    margin: 0.15em;
    margin-top: 20px; 
}


 .type {
    margin-right: 10em;

}  

#inn[disabled]{
    background: transparent;
}

.lab{
    width: 400px;
}

.right {
    float: right;
}

.flex {
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
}
.column {
    display: flex;
    flex-direction: column;
}


.lab {
    border: 0.5px lightgrey;
    border-bottom-style: solid;
    
}

.NDS {
    /* font-size: 15px; */
    background: transparent;
    border: none;
    color: grey;
}

.NDS:checked {
    color: black;
}



.subm {
    font-size: 15px;
    color: grey;
    background: transparent;
    border-style: solid;
    margin-top: 30px;
    width: 200px;
    float: left;
}

#clear {
    padding-top: 10px ;
    background: transparent;
    border: none;
    color: lightblue;
    float: left;
    /* text-align: left; */
    width: 150px;
}
